.rooms {
  background-color: #f2f6f9;
  padding-bottom: 1rem;
}

.image-wrap {
  position: relative;
  height: 25rem;
}

.image-wrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--purple-transparent-alt);
}

.room-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.room-name {
  font-size: 2.6rem;
  background-color: var(--yellow-solid);
  color: #fff;
  padding: .5rem 2rem;
  position: absolute;
  left: 0;
  bottom: 2.5rem;
  z-index: 10;
} 

.room-price {
  display: block;
  font-size: 3.6rem;
  font-weight: bold;
  color: var(--yellow-solid);
}

.per-night {
  color: var(--dark-color);
  font-size: 1.4rem;
  font-weight: 100;
}

.rooms-btn {
  color: var(--dark-color);
  padding: 0;
  transition: color .5s;
}

.rooms-btn:hover {
  color: var(--yellow-solid);
}


/*Media queries*/
@media screen and (min-width: 1000px) { 

  .rooms-grid {
    grid-row: repeat(auto-fit, minmax(40rem, 1fr));
  }

  .featured-rooms {
    flex-direction: row;
    align-items: flex-start;
  }

  .room-info-wrap {
    margin-left: 1.5rem;
  }

}