/*Import the fonts used*/
@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');

/*Basic reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Custom properties*/
:root {
  --dark-color: #2d2c2c;
  --purple-solid: #350a4f;
  --purple-transparent: rgba(53, 10, 79, .7);
  --purple-transparent-alt: rgba(53, 10, 79, .5);
  --purple-light: #8f50fb;
  --yellow-solid: #fa9e2c;
  --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light));
  --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));
}

/*Global styles*/
html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  background-color: var(--dark-color);
  color: var(--dark-color);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

/*Reusable styles*/
.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
